aiohttp==3.8.6
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
distlib==0.3.7
distro==1.9.0
Django==4.2.4
django-cors-headers==4.2.0
django-crontab==0.7.1
django-debug-toolbar==4.1.0
django-tempus-dominus==5.1.2.17
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
docopt==0.6.2
et_xmlfile==2.0.0
filelock==3.12.2
fonttools==4.56.0
frozenlist==1.4.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.4
jiter==0.13.0
kiwisolver==1.4.8
matplotlib==3.10.1
multidict==6.0.4
mysql-connector-python==8.3.0
mysqlclient==2.2.0
num2words==0.5.12
numpy==2.2.4
openai==2.21.0
openpyxl==3.1.5
packaging==24.2
Pillow==10.0.0
platformdirs==3.10.0
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.8.0
PyMySQL==1.1.0
pyparsing==3.2.3
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2023.3
qrcode==7.4.2
razorpay==1.4.1
requests==2.31.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.4.4
tqdm==4.67.3
twilio==8.9.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.2
xlwt==1.3.0
yarl==1.9.2
